
  
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);



//variables
$baseColor : #e74c3c;
$fontColor : #fff; 

body{
  background: $baseColor; 
  text-align: center;
  font-family: cursive;
}
svg{ 
  width: 100px; 
   height: 100px; 
   margin: 20px;
  display:inline-block; 
  
}
